<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('_head.ejs') %>
  <title>Movies App - <%= title %></title>
</head>
<body>
  <header>
    <nav>
      <div class="logo">Movies App</div>
      <ul>
        <li class="nav-link">Home</li>
        <li class="nav-link">Store</li>
        <li class="nav-link">Channels</li>
        <li class="nav-link">Categories</li>
        <li class="nav-link">MyStuff</li>
      </ul>
      <div>
        <div>Search</div>
        <div>Account</div>
      </div>
    </nav>
  </header>

  <main>

  </main>

  <footer>
    
  </footer>
</body>
</html>