.movie {
  padding: 30px;
}

.section {
  display: flex;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.section::-webkit-scrollbar {
  display: none;
}

.movie-container {
  display: flex;
  position: relative;
  margin: 0 7px;
  scroll-snap-align: center;
  transition: all 1s ease-in-out;
}

.movie-container::-webkit-scrollbar {
  display: none;
}

.movie-card {
  display: flex;
  flex-direction: column;
  transition: all 500ms;
}

.movie-card:first-child {
  margin-left: 0px;
}
.movie-card:last-child {
  margin-right: 0px;
}

.movie-container:hover .movie-card {
  transform: rotateY(0.5turn);
}

.movie-poster {
  opacity: 1;
  transition: all 500ms;
}

.movie-container:hover .movie-card .movie-poster {
  opacity: 0.1;
}

.movie-container:hover .movie-card .movie-details {
  display: flex;
  transform: rotateY(0.5turn);
  opacity: 1;
}

div.movie-details {
  position: absolute;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  margin: 0 7px;
  color: white;
  transition: all 500ms;
}

.movie-details .movie-header {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  color: goldenrod;
  margin: 5px 0;
  h3 {
    display: flex;
    flex: 90% 1 1;
  }
  button {
    color: goldenrod;
    background: transparent;
    font-size: 1.5rem;
    outline: 0;
    border: 0;
    align-items: center;
    width: 15px;
    height: 15px;
    padding: 2px;
    flex: 10% 1 1;
    cursor: pointer;
  }
}

.movie-details figcaption {
  padding: 5px;
  max-height: 230px;
  overflow-y: auto;
}

.movie-details div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 7px;
  color: goldenrod;
}

.movie-details div.trailer-link {
  display: inline-block;
  align-self: center;
  cursor: pointer;
}

.content {
  display: none;
  width: 100%;
  padding: 10px;
  box-shadow: inset 1px 1px 5px #32667c, inset -1px 0 5px #32667c;
}

.content-display {
  display: flex;
  div {
    display: flex;
    width: 100%;
    overflow-x: auto;

    iframe {
      margin: 5px;
    }
  }
}

#contentClose {
  color: red;
  font-weight: 1000;
  margin-right: 10px;
  cursor: pointer;
}

h2 {
  padding: 10px;
}

.movie-video {
  border: none;
}

@keyframes darkenPoster {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}
