@charset "UTF-8";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#0f2027), color-stop(var(--darkBlueColor)), to(var(--mediumBlueColor)));
  background: linear-gradient(#0f2027, var(--darkBlueColor), var(--mediumBlueColor));
  color: goldenrod;
}

:root {
  --navLinkMargin: 0 10px;
  --navLinkPadding: 23px 2px;
  --darkBlueColor: #203a43;
  --mediumBlueColor: #2c5364;
}

nav {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#0f2027), color-stop(var(--darkBlueColor)), to(var(--mediumBlueColor)));
  background: linear-gradient(#0f2027, var(--darkBlueColor), var(--mediumBlueColor));
  color: white;
  padding: 0 10px;
  -webkit-box-shadow: 0.5px 0.5px 6px black;
          box-shadow: 0.5px 0.5px 6px black;
}

.logo {
  display: inline-block;
  width: 10%;
  font-size: 1.2rem;
  text-decoration: none;
  color: goldenrod;
  cursor: pointer;
}

nav ul {
  position: relative;
  left: 5%;
  right: 5%;
  -webkit-transform: translate(-10%);
          transform: translate(-10%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  z-index: 999;
}

.nav-link {
  padding: var(--navLinkPadding);
  margin: var(--navLinkMargin);
  cursor: pointer;
}

.nav-link a {
  text-decoration: none;
  color: white;
}

.drop-link {
  padding: 10px 2px;
  margin: var(--navLinkMargin);
  cursor: pointer;
}

.drop-link a {
  text-decoration: none;
  color: white;
}

.nav-link a:hover,
.drop-link a:hover,
.account-link a:hover {
  color: goldenrod;
  -webkit-transition: color 250ms;
  transition: color 250ms;
}

nav div.search-and-account-container {
  width: 10%;
  min-width: 300px;
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: goldenrod;
  cursor: pointer;
}

.account-link {
  padding: var(--navLinkPadding);
  margin: var(--navLinkMargin);
}

.hide-search-movie-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px;
  -webkit-animation: hideForm 250ms ease-in-out forwards;
          animation: hideForm 250ms ease-in-out forwards;
}

.show-form {
  -webkit-animation: showForm 250ms ease-in-out forwards;
          animation: showForm 250ms ease-in-out forwards;
}

@-webkit-keyframes showForm {
  0% {
    display: none;
  }
  2% {
    display: -webkit-box;
    display: flex;
  }
  100% {
    display: -webkit-box;
    display: flex;
  }
}

@keyframes showForm {
  0% {
    display: none;
  }
  2% {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  100% {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@-webkit-keyframes hideForm {
  0% {
    display: -webkit-box;
    display: flex;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes hideForm {
  0% {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

.expand-input::-webkit-input-placeholder {
  color: white;
}

.expand-input:-ms-input-placeholder {
  color: white;
}

.expand-input::-ms-input-placeholder {
  color: white;
}

.expand-input::placeholder {
  color: white;
}

.hide-search-input {
  padding: 5px;
  border: 1px solid white;
  border-right: none;
  background-color: #0f2027;
  color: white;
  outline: 0;
  -webkit-animation: shrinkInput 250ms ease-in-out forwards;
          animation: shrinkInput 250ms ease-in-out forwards;
}

.fa-check-square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 27px;
  height: 27px;
  padding: 4px;
  border: 1px solid white;
  border-left: none;
  font-size: 1.6rem;
  outline: 0;
  background-color: var(--darkBlueColor);
  color: goldenrod;
  cursor: pointer;
}

.abs {
  position: absolute;
}

.expand-input {
  padding: 5px;
  border: 1px solid white;
  border-right: none;
  background-color: #0f2027;
  color: white;
  outline: 0;
  -webkit-animation: expandInput 250ms ease-in-out forwards;
          animation: expandInput 250ms ease-in-out forwards;
}

@-webkit-keyframes expandInput {
  0% {
    display: none;
    width: 0;
  }
  2% {
    display: -webkit-box;
    display: flex;
  }
  100% {
    width: 200px;
  }
}

@keyframes expandInput {
  0% {
    display: none;
    width: 0;
  }
  2% {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  100% {
    width: 200px;
  }
}

@-webkit-keyframes shrinkInput {
  0% {
    width: 200px;
  }
  100% {
    width: 0px;
    display: none;
    opacity: 0;
  }
}

@keyframes shrinkInput {
  0% {
    width: 200px;
  }
  100% {
    width: 0px;
    display: none;
    opacity: 0;
  }
}

.nav-drop-down {
  display: none;
}

.open {
  width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 100%;
  left: 34%;
  -webkit-transition: 0, 50%;
  transition: 0, 50%;
  padding: 15px;
  text-align: center;
  background-color: var(--darkBlueColor);
  -webkit-box-shadow: inset 0 -4px 1px -1px goldenrod, inset -4px 0 1px -1px goldenrod, inset 4px 0 1px -1px goldenrod;
          box-shadow: inset 0 -4px 1px -1px goldenrod, inset -4px 0 1px -1px goldenrod, inset 4px 0 1px -1px goldenrod;
  border-top: 0;
  z-index: 100;
  cursor: pointer;
}

.menu-btn {
  display: none;
  position: relative;
  right: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 30px;
  width: 30px;
  margin: 5px;
  z-index: 999;
  cursor: pointer;
}

.menu-btn .menu-line:nth-child(1) {
  top: 5px;
  right: 0.3px;
}

.menu-btn .menu-line:nth-child(2) {
  top: 13px;
  right: 0.3px;
}

.menu-btn .menu-line:nth-child(3) {
  top: 21px;
  right: 0.3px;
}

.menu-line {
  position: absolute;
  height: 3px;
  width: 30px;
  background-color: goldenrod;
}

.menu-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  right: -250px;
  padding: 20px;
  height: 100vh;
  width: 250px;
  background-color: goldenrod;
  border-left: 2px solid #0f2027;
  font-weight: 600;
  overflow-y: scroll;
  list-style: none;
  z-index: 100;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.open-menu {
  top: 0;
  right: -5px;
}

.menu-logo {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--darkBlueColor);
}

.menu-link {
  padding: var(--navLinkPadding);
  margin: var(--navLinkMargin);
  cursor: pointer;
}

.menu-link a {
  text-decoration: none;
  color: var(--darkBlueColor);
}

.menu-link a:hover,
.menu-logo:hover {
  color: black;
}

.dark-color {
  background-color: var(--darkBlueColor);
}

.movie {
  padding: 30px;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.section::-webkit-scrollbar {
  display: none;
}

.movie-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0 7px;
  scroll-snap-align: center;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.movie-container::-webkit-scrollbar {
  display: none;
}

.movie-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.movie-card:first-child {
  margin-left: 0px;
}

.movie-card:last-child {
  margin-right: 0px;
}

.movie-container:hover .movie-card {
  -webkit-transform: rotateY(0.5turn);
          transform: rotateY(0.5turn);
}

.movie-poster {
  opacity: 1;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.movie-container:hover .movie-card .movie-poster {
  opacity: 0.1;
}

.movie-container:hover .movie-card .movie-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotateY(0.5turn);
          transform: rotateY(0.5turn);
  opacity: 1;
}

div.movie-details {
  position: absolute;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
  margin: 0 7px;
  color: white;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.movie-details .movie-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  color: goldenrod;
  margin: 5px 0;
}

.movie-details .movie-header h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 90%;
      -ms-flex: 90% 1 1;
          flex: 90% 1 1;
}

.movie-details .movie-header button {
  color: goldenrod;
  background: transparent;
  font-size: 1.5rem;
  outline: 0;
  border: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15px;
  height: 15px;
  padding: 2px;
  -webkit-box-flex: 10%;
      -ms-flex: 10% 1 1;
          flex: 10% 1 1;
  cursor: pointer;
}

.movie-details figcaption {
  padding: 5px;
  max-height: 230px;
  overflow-y: auto;
}

.movie-details div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 7px;
  color: goldenrod;
}

.movie-details div.trailer-link {
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

.content {
  display: none;
  width: 100%;
  padding: 10px;
  -webkit-box-shadow: inset 1px 1px 5px #32667c, inset -1px 0 5px #32667c;
          box-shadow: inset 1px 1px 5px #32667c, inset -1px 0 5px #32667c;
}

.content-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-display div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow-x: auto;
}

.content-display div iframe {
  margin: 5px;
}

#contentClose {
  color: red;
  font-weight: 1000;
  margin-right: 10px;
  cursor: pointer;
}

h2 {
  padding: 10px;
}

.movie-video {
  border: none;
}

@-webkit-keyframes darkenPoster {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}

@keyframes darkenPoster {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4%;
  background: -webkit-gradient(linear, left top, left bottom, from(#0f2027), color-stop(var(--darkBlueColor)), to(var(--mediumBlueColor)));
  background: linear-gradient(#0f2027, var(--darkBlueColor), var(--mediumBlueColor));
  -webkit-box-shadow: 0.5px 0.5px 6px black;
          box-shadow: 0.5px 0.5px 6px black;
}

footer span {
  margin: 0 10px;
}

::-webkit-scrollbar {
  height: 7px;
  /* height of horizontal scrollbar ← You're missing this */
  width: 5px;
  border: 1px solid goldenrod;
  background-color: var(--darkBlueColor);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
  border: 1px solid goldenrod;
  background-color: var(--darkBlueColor);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:vertical {
  border: 1px solid goldenrod;
  background-color: gold;
  border-radius: 10px;
}

@media only screen and (max-width: 1200px) {
  .logo {
    max-width: 100px;
    width: 100%;
  }
  nav ul {
    display: none;
  }
  nav div.search-and-account-container {
    width: 100%;
    min-width: 100px;
  }
  .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 500px) {
  nav div.search-and-account-container {
    width: 100%;
    min-width: 100px;
  }
}

@media only screen and (max-width: 400px) {
  nav div.search-and-account-container {
    width: 100%;
    min-width: 100px;
  }
  @-webkit-keyframes expandInput {
    0% {
      display: none;
      width: 0;
    }
    2% {
      display: -webkit-box;
      display: flex;
    }
    100% {
      width: 150px;
    }
  }
  @keyframes expandInput {
    0% {
      display: none;
      width: 0;
    }
    2% {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    100% {
      width: 150px;
    }
  }
}
/*# sourceMappingURL=style.css.map */