*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(
    #0f2027,
    var(--darkBlueColor),
    var(--mediumBlueColor)
  );
  color: goldenrod;
}

:root {
  --navLinkMargin: 0 10px;
  --navLinkPadding: 23px 2px;
  --darkBlueColor: #203a43;
  --mediumBlueColor: #2c5364;
}

@import 'Navbar';
@import 'Movies';

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4%;
  background: linear-gradient(
    #0f2027,
    var(--darkBlueColor),
    var(--mediumBlueColor)
  );
  box-shadow: 0.5px 0.5px 6px black;

  span {
    margin: 0 10px;
  }
}

::-webkit-scrollbar {
  height: 7px; /* height of horizontal scrollbar ← You're missing this */
  width: 5px;
  border: 1px solid goldenrod;
  background-color: var(--darkBlueColor);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:horizontal {
  border: 1px solid goldenrod;
  background-color: var(--darkBlueColor);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:vertical {
  border: 1px solid goldenrod;
  background-color: gold;
  border-radius: 10px;
}

@media only screen and (max-width: 1200px) {
  .logo {
    max-width: 100px;
    width: 100%;
  }

  nav ul {
    display: none;
  }
  nav div.search-and-account-container {
    width: 100%;
    min-width: 100px;
  }

  .menu-btn {
    display: flex;
  }
}

@media only screen and (max-width: 500px) {
  nav div.search-and-account-container {
    width: 100%;
    min-width: 100px;
  }
}

@media only screen and (max-width: 400px) {
  nav div.search-and-account-container {
    width: 100%;
    min-width: 100px;
  }

  @keyframes expandInput {
    0% {
      display: none;
      width: 0;
    }
    2% {
      display: flex;
    }

    100% {
      width: 150px;
    }
  }
}
