.movie {
  padding: 30px;
}

.section {
  display: flex;
  width: 100%;
  overflow-x: auto;
}

.section::-webkit-scrollbar {
  display: none;
}

.movie-container {
  display: flex;
  position: relative;
  width: 250px;
  margin: 0 7px;
  z-index: 10;
}

.movie-card {
  display: flex;
  width: 250px;
  flex-direction: column;
  transition: all 250ms;
}

.movie-card:first-child {
  margin-left: 0px;
}
.movie-card:last-child {
  margin-right: 0px;
}

.movie-container:hover .movie-card {
  cursor: pointer;
  transform: rotateY(0.5turn);
}

.movie-details {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  opacity: 0;
  margin: 0 7px;
  color: white;
  transform: rotateY(0.5turn);
  transition: all 250ms;
}

.movie-details h3 {
  color: goldenrod;
  margin: 5px 0;
}

.movie-details figcaption {
  padding: 5px;
  max-height: 230px;
  overflow-y: auto;
}

.movie-details div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 7px;
  color: goldenrod;
}

.content {
  display: none;
  width: 100%;
  padding: 10px;
  box-shadow: inset 1px 1px 5px #32667c, inset -1px 0 5px #32667c;
}

.content-display {
  display: flex;
  div {
    display: flex;
    width: 100%;
    overflow-x: auto;

    iframe {
      margin: 5px;
    }
  }
}

#contentClose {
  color: red;
  font-weight: 1000;
  margin-right: 10px;
  cursor: pointer;
}

h2 {
  padding: 10px;
}

.movie-video {
  border: none;
}
