nav {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: cyan;
  padding: 0 10px;
}

.logo {
  width: 25%;
}

nav ul {
  width: 80%;
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-link {
  padding: var(--navLinkPadding);
  margin: var(--navLinkMargin);
  cursor: pointer;
}

// navbar logo and search/account
nav .search-and-account-container {
  width: 25%;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  cursor: pointer;
}

.account-link {
  padding: var(--navLinkPadding);
  margin: var(--navLinkMargin);
}
