*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(#0f2027, #203a43, #2c5364);
  color: goldenrod;
}

:root {
  --navLinkMargin: 0 10px;
  --navLinkPadding: 23px 2px;
}

@import 'Navbar';
@import 'Movies';

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4%;
  background: linear-gradient(#0f2027, #203a43, #2c5364);
  box-shadow: 0.5px 0.5px 6px black;

  span {
    margin: 0 10px;
  }
}

::-webkit-scrollbar {
  height: 7px; /* height of horizontal scrollbar ← You're missing this */
  width: 5px;
  border: 1px solid goldenrod;
  background-color: #203a43;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:horizontal {
  border: 1px solid goldenrod;
  background-color: #203a43;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:vertical {
  border: 1px solid goldenrod;
  background-color: gold;
  border-radius: 10px;
}
