*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#0f2027), color-stop(#203a43), to(#2c5364));
  background: linear-gradient(#0f2027, #203a43, #2c5364);
  color: goldenrod;
}

:root {
  --navLinkMargin: 0 10px;
  --navLinkPadding: 23px 2px;
}

nav {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#0f2027), color-stop(#203a43), to(#2c5364));
  background: linear-gradient(#0f2027, #203a43, #2c5364);
  color: white;
  padding: 0 10px;
  -webkit-box-shadow: 0.5px 0.5px 6px black;
          box-shadow: 0.5px 0.5px 6px black;
}

.logo {
  display: inline-block;
  width: 10%;
  font-size: 1.2rem;
  text-decoration: none;
  color: goldenrod;
  cursor: pointer;
}

nav ul {
  position: relative;
  left: 5%;
  right: 5%;
  -webkit-transform: translate(-10%);
          transform: translate(-10%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  z-index: 999;
}

.nav-link {
  padding: var(--navLinkPadding);
  margin: var(--navLinkMargin);
  cursor: pointer;
}

.drop-link {
  padding: 10px 2px;
  margin: var(--navLinkMargin);
  cursor: pointer;
}

.drop-link a {
  text-decoration: none;
  color: white;
}

.nav-link:hover,
.drop-link a:hover,
.account-link:hover {
  color: goldenrod;
  -webkit-transition: color 250ms;
  transition: color 250ms;
}

nav .search-and-account-container {
  width: 10%;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: goldenrod;
  cursor: pointer;
}

.account-link {
  padding: var(--navLinkPadding);
  margin: var(--navLinkMargin);
}

.hide-search-movie-form {
  -webkit-animation: hideForm 250ms ease-in-out forwards;
          animation: hideForm 250ms ease-in-out forwards;
}

.show-form {
  -webkit-animation: showForm 250ms ease-in-out forwards;
          animation: showForm 250ms ease-in-out forwards;
}

@-webkit-keyframes showForm {
  0% {
    display: none;
  }
  2% {
    display: -webkit-box;
    display: flex;
  }
  100% {
    display: -webkit-box;
    display: flex;
  }
}

@keyframes showForm {
  0% {
    display: none;
  }
  2% {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  100% {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@-webkit-keyframes hideForm {
  0% {
    display: -webkit-box;
    display: flex;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes hideForm {
  0% {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

.expand-input::-webkit-input-placeholder {
  color: white;
}

.expand-input:-ms-input-placeholder {
  color: white;
}

.expand-input::-ms-input-placeholder {
  color: white;
}

.expand-input::placeholder {
  color: white;
}

.hide-search-input {
  padding: 5px;
  border: 1px solid white;
  background-color: #0f2027;
  color: white;
  outline: 0;
  margin: 5px;
  -webkit-animation: shrinkInput 250ms ease-in-out forwards;
          animation: shrinkInput 250ms ease-in-out forwards;
}

.expand-input {
  padding: 5px;
  border: 1px solid white;
  background-color: #0f2027;
  color: white;
  outline: 0;
  margin: 5px;
  -webkit-animation: expandInput 250ms ease-in-out forwards;
          animation: expandInput 250ms ease-in-out forwards;
}

@-webkit-keyframes expandInput {
  0% {
    display: none;
    width: 0;
  }
  2% {
    display: -webkit-box;
    display: flex;
  }
  100% {
    width: 200px;
  }
}

@keyframes expandInput {
  0% {
    display: none;
    width: 0;
  }
  2% {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  100% {
    width: 200px;
  }
}

@-webkit-keyframes shrinkInput {
  0% {
    width: 200px;
  }
  100% {
    width: 0px;
    display: none;
    opacity: 0;
  }
}

@keyframes shrinkInput {
  0% {
    width: 200px;
  }
  100% {
    width: 0px;
    display: none;
    opacity: 0;
  }
}

.nav-drop-down {
  display: none;
  position: absolute;
  top: -10%;
  left: 38%;
  z-index: 1000;
}

.open {
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 100%;
  left: 40%;
  padding: 20px;
  text-align: center;
  background-color: #203a43;
  border: 1px solid #0f2027;
  z-index: 1000;
  cursor: pointer;
}

.movie {
  padding: 30px;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow-x: auto;
}

.section::-webkit-scrollbar {
  display: none;
}

.movie-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 250px;
  margin: 0 7px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.movie-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.movie-card:first-child {
  margin-left: 0px;
}

.movie-card:last-child {
  margin-right: 0px;
}

.movie-container:hover .movie-card {
  -webkit-transform: rotateY(0.5turn);
          transform: rotateY(0.5turn);
}

.movie-poster {
  width: 250px;
  opacity: 1;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.movie-container:hover .movie-card .movie-poster {
  opacity: 0.1;
}

.movie-container:hover .movie-card .movie-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotateY(0.5turn);
          transform: rotateY(0.5turn);
  opacity: 1;
}

.movie-details {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  opacity: 0;
  margin: 0 7px;
  color: white;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.movie-details h3 {
  color: goldenrod;
  margin: 5px 0;
}

.movie-details figcaption {
  padding: 5px;
  max-height: 230px;
  overflow-y: auto;
}

.movie-details div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 7px;
  color: goldenrod;
}

.content {
  display: none;
  width: 100%;
  padding: 10px;
  -webkit-box-shadow: inset 1px 1px 5px #32667c, inset -1px 0 5px #32667c;
          box-shadow: inset 1px 1px 5px #32667c, inset -1px 0 5px #32667c;
}

.content-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-display div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow-x: auto;
}

.content-display div iframe {
  margin: 5px;
}

#contentClose {
  color: red;
  font-weight: 1000;
  margin-right: 10px;
  cursor: pointer;
}

h2 {
  padding: 10px;
}

.movie-video {
  border: none;
}

@-webkit-keyframes darkenPoster {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}

@keyframes darkenPoster {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4%;
  background: -webkit-gradient(linear, left top, left bottom, from(#0f2027), color-stop(#203a43), to(#2c5364));
  background: linear-gradient(#0f2027, #203a43, #2c5364);
  -webkit-box-shadow: 0.5px 0.5px 6px black;
          box-shadow: 0.5px 0.5px 6px black;
}

footer span {
  margin: 0 10px;
}
/*# sourceMappingURL=style.css.map */